*{
    margin: 0;
    padding: 0;
    border:0
}
.header {
    height: 5em;
    padding: 3em;
    font-size: 2em;
    background-image: url(assets/imgs/header.jpg) ;
    background-size: cover;
    background-position: center;
    font-weight: 900;
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(41, 10, 42);
    text-align: center;
  }

  .header h1 {
    margin: 0px;
    font-weight: 400;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  .products {
    width: 50%;
    margin: auto;
  }
  
  .products td{
    width: 40%;
    padding: 1em;
    font-size: 1em;
    color: purple;
    text-align: center;
  }
  
  .products img{
    width: 100%;
    border: solid 1px #ddd;
    border-radius: 10%;
  }
  
  .footer{
    height: 3em;
    line-height: 3em;
    background-color: rgb(229, 208, 133);
    color: white;
    text-align: center;
    font-weight: 900;
    margin-top: 1em;
  } 